<mat-accordion class="width100">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Question 1.
      </mat-panel-title>
      <mat-panel-description>
        How to create objects in javascript
      </mat-panel-description>
    </mat-expansion-panel-header>

    <h3>Answer :-</h3>
    <p>
      1. Using the object() constructor<br />
      &nbsp;&nbsp;&nbsp;&nbsp; var d = new Date();
    </p>
    <p>
      {{dob | date:"medium"}}<br />
      {{dob | date:"dd/MM/yyyy"}}<br />
      {{dob | date:"mediumTime"}}
    </p>
    <p>
      {{salary | currency:"USD":true}}
    </p>
  </mat-expansion-panel>
</mat-accordion>
<table border="1">
  <tr>
    <td>Name</td>
    <td>Salary</td>
    <td>Date of Birth</td>
    <td>Gender</td>
  </tr>
  <tr *ngFor= "let employee of employees">
    <td>{{employee.name | myGenderPipe:employee.gender}}</td>
    <td>{{employee.salary | currency:"USD":true}}</td>
    <td>{{employee.dob}}</td>
    <td>{{employee.gender}}</td>
  </tr>
</table>
